<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gank.jack.ganknew" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/RedTheme" >
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.WebContentActivity"></activity>
        <activity android:name=".view.activity.TabSortActivity"></activity>
        <activity android:name=".view.activity.SelectDateActivity"></activity>
        <activity android:name=".view.activity.SearchActivity"
                  android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".view.activity.PublishActivity"></activity>

    </application>

</manifest>